@model HVAC.Models.EnquirySource
@{

    ViewBag.pTitle = "Enquiry Source";
    ViewBag.pageTitle = "Enquiry source";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    function SaveProjectType() {
        debugger;
        var id = 0;
        if ($('#EnqSoucreID').val() > 0) {
            id = $('#EnqSoucreID').val();

        }
        var protypeobj = {
            EnqSoucreID: id,
            EnqSourceName: $('#EnqSourceName').val()
            

        }
        debugger;
        $.ajax({
            type: "POST",
            url: '/EnquirySource/SaveProjectType/',
            datatype: "html",
            data: { 
                ProType: protypeobj,
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
            },
            success: function (response) {
                if (response.status == "OK") {
                    Swal.fire("Save Status!", response.message, "success");
                    setTimeout(function () {
                        window.location.href = "/EnquirySource/Index";
                    }, 100)


                }
                else {
                    Swal.fire("Save Status!", response.message, "warning");
                }


            }
        });
    }

    function CheckProjectTypeExist(type, id, callback) {


        $.ajax({
            type: "Get",
            url: '/EnquirySource/ProjectTypeExist',
            datatype: "Json",
            data: {
                PType: type,
                ID: id
            },

            success: function (data) {

                if (data == "true") {

                    callback(true);
                }
                else {
                    callback(false);
                }

            }
        });


    }


</script>

<script>

    $(document).on("submit", ".needs-validation", function (e) {

        e.preventDefault();
        var id = 0;
                    if (@Model.EnquirySourceID > 0) {

                  $('#btnsave').html('Update');
            id =@Model.EnquirySourceID;
}




        var type = $('#EnquirySourceID').val();
       


        if (!type || type === ' ') {
            Swal.fire("Validation Error", "Please Enter Projec Type.", "error");
            return;
        }

        //if (!describtion || describtion === ' ') {
        //    Swal.fire("Validation Error", "Please Enter Describtion.", "error");
        //    return;
        //}


        CheckProjectTypeExist(type, id, function (exists) {
            if (exists) {
                Swal.fire("Save Status!", "Enquiry Source Already Exist", "warning");
            } else if (!exists) {

                SaveProjectType();
            }
        });
    });

</script>


@using (Html.BeginForm("Create", "EnquirySource", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation ", @novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div id="alert" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-3">
                        <div class="mb-2">
                            @Html.HiddenFor(model=>model.EnquirySourceID)
                            <label class="col-form-label">Enquiry Source Name</label>
                            @Html.TextBoxFor(model => model.EnquirySourceName, new { @class = "form-control txttarget", @autocomplete = "off", @required = "required" })
                            @Html.ValidationMessageFor(model => model.EnquirySourceName)

                            <div class="invalid-feedback">
                                Please Enterquiry Source
                            </div>
                        </div>
                    </div>
                 


                    <div class="col-md-12 text-md-end">
                        <input type="submit" value="Save" class="btn btn-success" id="btnsave" />



                        <a href='@Url.Action("Index", "EnquirySource", new { id = 0 })' class="btn btn-secondary">Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </fieldset>


}
