@model HVAC.Models.JobHandOverVM
@{
    Layout = null;
    var i = 0;
}
<style>
    ul.ui-front {
        z-index: 1100;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
      
    });

</script>
<div class="row no-margin" style="padding-top:0px">
    <div class="col-md-12 tblbackground">
        <table class="table table-datatable dataTable tblfont table-bordered table-striped mb-0" id="ContainerTables">
            <thead class="table-light">
                <tr>
                    <th>S.No</th>
                    <th>PO No.</th>
                    <th>PO Date</th>
                    <th>Order Value</th>
                    <th>Vat Amount</th>
                    <th>Value</th>                    
                    <th></th>


                </tr>
            </thead>
            <tbody id="tbodyclient">

                @foreach (var item in Model.OrderDetails)
                {
                <tr id="trclient_@i">
                    <td id="row_@i">
                        @(i+1)
                        @Html.HiddenFor(model => model.OrderDetails[i].ID, new { @Value = @item.ID, @id = "hdnPOID_" + @i })
                        @Html.HiddenFor(model => model.OrderDetails[i].JobHandOverID, new { @Value = @item.JobHandOverID, @id = "hdnJobHandOverID_" + @i })
                    </td>
                    <td>
                        <a target="_blank" href="/InwardPo/Create?id=@item.ID">@item.PONumber</a> <br />
                        <a  target="_blank" href="/Quotation/Create?id=@item.QuotationId">@item.QuotationNo</a>
                    </td>
                    <td>
                        @item.PODate.ToShortDateString()
                    </td>
                    <td style="text-align:right">
                        
                        @HVAC.Models.CommonFunctions.GetFormatNumber(item.OrderValue, "3")
                    </td>
                    <td style="text-align:right">
                        @item.VatAmount
                    </td>
                    <td style="text-align:right">
                        
                        @HVAC.Models.CommonFunctions.GetFormatNumber(item.TotalValue, "3")
                    </td>
                    <td></td>
                </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
